{ 
 :rental.schema/db-url "datomic:dev://localhost:4334/rental"
 :rental.schema/schema "schema.edn"
 :rental.schema/setup-data "setup-data.edn"
 
 :rental.geonames/username "lekhtuz"
 :rental.geonames/country-url "http://api.geonames.org/countryInfoJSON"
 :rental.geonames/states-url "http://api.geonames.org/childrenJSON"
}
