[
 {
  :db/id #db/id[:db.part/db]
  :db/ident :rental.schema/username
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Username"
  :db/unique :db.unique/value
  :db/index true
  :db.install/_attribute :db.part/db
 }
 {
  :db/id #db/id[:db.part/db]
  :db/ident :rental.schema/email
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Email address"
  :db/unique :db.unique/value
  :db/index true
  :db.install/_attribute :db.part/db
 }
 {
  :db/id #db/id[:db.part/db]
  :db/ident :rental.schema/first_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "First name"
  :db/index true
  :db.install/_attribute :db.part/db
 }
 {
  :db/id #db/id[:db.part/db]
  :db/ident :rental.schema/last_name
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Last name"
  :db/index true
  :db.install/_attribute :db.part/db
 }
 {
  :db/id #db/id[:db.part/db]
  :db/ident :rental.schema/password
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "Password"
  :db.install/_attribute :db.part/db
 }
 {
  :db/id #db/id[:db.part/db]
  :db/ident :rental.schema/usertype
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "User type"
  :db.install/_attribute :db.part/db
 }
 {
  :db/id #db/id[:db.part/user]
  :db/ident :rental.schema.usertype/admin
 }
 {
  :db/id #db/id[:db.part/user]
  :db/ident :rental.schema.usertype/landlord
 }
 {
  :db/id #db/id[:db.part/user]
  :db/ident :rental.schema.usertype/tenant
 }
]
