; Data below is hardcoded in rental.test.schema.clj. Make sure both places are in sync

[
 ; Default admin account
 {
	 :db/id #db/id[:db.part/user]
	 :rental.schema/usertype :rental.schema.usertype/admin
	 :rental.schema/username "admin"
	 :rental.schema/status :rental.schema.status/active
	 :rental.schema/email "admin@admin.com"
	 :rental.schema/password "password"
	 :rental.schema/first-name "Barak"
	 :rental.schema/last-name "Obama"
	 :rental.schema/mailing-address  {
                                   :db/id #db/id[:db.part/user]
                                   :rental.schema.address/address1 "1600 Pennsylvania Avenue NW"
                                   :rental.schema.address/city "Washington"
                                   :rental.schema.address/state "DC"
                                   :rental.schema.address/zipcode "20500"
                                   }
  :rental.schema/login-attempts [
                                 {
                                  :rental.schema.login-attempt/timestamp #inst "2015-06-01T15:55:13.217-00:00"
                                  :rental.schema.login-attempt/result :rental.schema.login-attempt.result/success
                                  :rental.schema.login-attempt/ip-address "1.1.1.1"
                                 }
                                ]
 }

 ; Demo accounts
 {
	 :db/id #db/id[:db.part/user]
	 :rental.schema/usertype :rental.schema.usertype/admin
	 :rental.schema/username "demo-admin"
	 :rental.schema/status :rental.schema.status/active
	 :rental.schema/email "demo-admin@admin.com"
	 :rental.schema/password "password"
	 :rental.schema/first-name "FirstDemo"
	 :rental.schema/last-name "LastDemo"
 }

 {
	 :db/id #db/id[:db.part/user]
	 :rental.schema/usertype :rental.schema.usertype/landlord
	 :rental.schema/username "demo-landlord"
	 :rental.schema/status :rental.schema.status/active
	 :rental.schema/email "demo-landlord@admin.com"
	 :rental.schema/password "password"
	 :rental.schema/first-name "FirstDemo"
	 :rental.schema/last-name "LastDemo"
 }

 {
	 :db/id #db/id[:db.part/user]
	 :rental.schema/usertype :rental.schema.usertype/tenant
	 :rental.schema/username "demo-tenant"
	 :rental.schema/email "demo-tenant@admin.com"
	 :rental.schema/status :rental.schema.status/active
	 :rental.schema/password "password"
	 :rental.schema/first-name "FirstDemo"
	 :rental.schema/last-name "LastDemo"
 }
]