[
 ; Default admin account
 {
	 :db/id #db/id[:db.part/user]
	 :rental.schema/usertype :rental.schema.usertype/admin
	 :rental.schema/username "admin"
	 :rental.schema/email "admin@admin.com"
	 :rental.schema/password "password"
	 :rental.schema/first_name "Barak"
	 :rental.schema/last_name "Obama"
	 :rental.schema/mailing_address  {
                                   :db/id #db/id[:db.part/user]
                                   :rental.schema.address/address1 "1600 Pennsylvania Avenue NW"
                                   :rental.schema.address/city "Washington"
                                   :rental.schema.address/state "DC"
                                   :rental.schema.address/zipcode "20500"
                                   }
 }

 ; Demo accounts
 {
	 :db/id #db/id[:db.part/user]
	 :rental.schema/usertype :rental.schema.usertype/admin
	 :rental.schema/username "demo-admin"
	 :rental.schema/email "demo-admin@admin.com"
	 :rental.schema/password "password"
	 :rental.schema/first_name "FirstDemo"
	 :rental.schema/last_name "LastDemo"
 }

 {
	 :db/id #db/id[:db.part/user]
	 :rental.schema/usertype :rental.schema.usertype/landlord
	 :rental.schema/username "demo-landlord"
	 :rental.schema/email "demo-landlord@admin.com"
	 :rental.schema/password "password"
	 :rental.schema/first_name "FirstDemo"
	 :rental.schema/last_name "LastDemo"
 }

 {
	 :db/id #db/id[:db.part/user]
	 :rental.schema/usertype :rental.schema.usertype/tenant
	 :rental.schema/username "demo-tenant"
	 :rental.schema/email "demo-tenant@admin.com"
	 :rental.schema/password "password"
	 :rental.schema/first_name "FirstDemo"
	 :rental.schema/last_name "LastDemo"
 }
]