body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
}

#loginForm.errors, #username.errors, #password.errors {
	color: red;
	font-weight: bold;
}

.table-title {
	font-weight: bold;
}

.left-td-label {
	font-weight: bold;
	text-align: right;
}

.right-td-field {
	text-align: left;
}
